.top{
    width: 100%;
    height: 42px;
    background: url("1.jpg") no-repeat;
}
.main{
    width:100%
}
.bottom{
    width: 100%;
    height: 92px;
    background: url("2.jpg") no-repeat;
    font-size:30px;
    color:#fff;
    text-align:center;
    line-height:92px;
    cursor:pointer;
}

.item{
    margin:80px 20px 80px 20px;
}
.questiondiv{
    
}
.question{
    margin:0px 0px 20px 0px;
    font-size:23px;
    color:#000;
    letter-spacing:3px;
    line-height: 40px;
}
.choice{
    margin:0px 0px 0px 10px;
    font-size:23px;
    color:#000;
}


.sanswer1{
    display: inline-block;
    width:100%;
    letter-spacing:3px;
    line-height: 40px;
}
.sanswer2{
    display: inline-block;
    width:48%;
    letter-spacing:3px;
}
.sanswer3{
    display: inline-block;
    width:32%;
    letter-spacing:3px;
}
.sanswer4{
    display: inline-block;
    width:23%;
    letter-spacing:3px;
}
.check{
    margin:0px 0px 0px 0px;
}
.sanswerline{
    margin:0px 0px 18px 0px;
    width:100%;
}
.inputcss{
    background:#fff;
    border:0px;
    border-bottom:2px dashed #000;
    width:260px;
    font-size:25px;
    font-weight:900;
    color:#000;
}

.sinputcss{
    background:#fff;
    border:0px;
    border-bottom:1px dashed #000;
    width:260px;
    font-size:23px;
    color:#000;
}


#mk {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9;
    background: #000;
    opacity: 0.7;
    display: none;
}

#message {
    position: fixed;
    width: 504px;
    height: 260px;
    z-index: 10;
    left: 50%;
    margin-left: -252px;
    top: 350px;
    background: url(../newimage/msg.png) center no-repeat;
    display: none;
}

#closem {
    position: absolute;
    width: 504px;
    height: 60px;
    z-index: 11;
    bottom: 0px;
}

#info {
    position: absolute;
    width: 380px;
    height: 150px;
    left: 50%;
    top: 50px;
    margin-left: -190px;
    font-size: 32px;
    color: #666;
    line-height: 1.3em;
    text-align: center;
}

